.content-main {
  width: 100vw;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  max-width: 100%;
}

.content-container {
  height: 70vh;
  width: 67vw;
}

.content-head {
  text-align: center;
  padding: 10px;
}
.content-slide {
  height: 60vh;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .content-main {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    max-width: 100%;
  }
  .content-container {
    height: 60vh;
    width: 100vw;
  }
}
